.header{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px 0 15px 0;
   position: relative;
   &__return{
      position: absolute;
      left:5%;
      font-size: 25px;
   }
}
